
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/* ------------- root ------------- */
:root{
    --primary-color: #f26b3a;
    --secondary-color: #5a504b;

    --font-color: #1d1b19;
    --font-gray: #6e635c;
    --font-light: #ffffffb3;

    --body-color: #fff;


	--pm-1:4px;
	--font-size: 12px;
}


/* ------- reset default css --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-size: var(--font-size);
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}
h1 { font-size: 36px;}
h2 { font-size: 28px;}
h3 { font-size: 20px;}
p { font-size: 14px}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------- code667 ----------- */
/* -------- common css --------- */
html {
  scroll-behavior: smooth;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	color: inherit;
	text-decoration: none;
	display: block;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* -------- css --------- */
.mavro_sidebar{
    min-width: 250px;
    padding: 50px 20px 24px;
    background-color: #5a514b;
    height: calc(100vh - 74px);
}
.mavro_sidebar p, .nav_drop_item{
	color: var(--font-light)
}
.docs_nav {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_head{
	text-align: center;
	margin-bottom: 20px;
}
.nav_head .mavro_logo{
	max-width: 64px;
	margin: 0 auto;
	margin-bottom: 5px;
}
.nav_head p{
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
.nav_footer p{
	font-size: var(--font-size) + 4px;
}
.nav_item_head {
	color: white;
	transition: .3s;
}
.nav_item_head h5{
	color: inherit;
	font-size: calc(var(--font-size) + 4px);
	position: relative;
	transition: .4s;
}
.nav_item_head h5::after{
	position: absolute;
	content: '';
	width: 7px;
	height: 7px;
	opacity: .9;
	border: 2px solid var(--body-color);
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	transform: rotate(-45deg);
	top: 4px;
	right: 18px;
	transition: .3s;
	border-radius: 2px;
}
.nav_item{
	position: relative;
	font-size: 13px;
	margin-bottom: 20px;
}
.nav_drop_item{
	display: flex;
	align-items: center;
	transition: .4s;
	cursor: pointer;
	position: relative;
}
.nav_drop_item span{
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: #f59978;
	transition: .4s;
	left: -15.5px;
	opacity: 0;
}
.nav_drop_item  a {
	width: 100%;
}
.nav_drop_item.active{
	color: #f59978;
	text-shadow: 0 0 1px #000000;
	padding-left: 5px;
	font-size: 14px;
}
.nav_drop_item.active span{
	height: 6px;
	opacity: 1;
	border-radius: 50%;
}
.nav_item_head{
	justify-content: space-between;
}
.nav_drop{
	border-left: 1px solid gray;
	height: 0;
	opacity: 0;
	transition: .4s;
}
.nav_drop li{
	margin-bottom: 12px;
}
.nav_drop li:last-child{
	margin-bottom: 0px;
}
.nav_toggle{
	position: absolute;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	margin: 0;
	cursor: pointer;
	height: 36px;
	z-index: 2;
}
.rd_arrorw span{
	border: 2px solid var(--body-color);
}
.nav_toggle:checked ~ .nav_drop{
	padding: 8px 12px;
	margin: 8px;
	opacity: 1;
	height: auto;
}

.nav_toggle:checked ~ .nav_item_head{
	box-shadow: 0px 0px 8px gray;
	padding: 8px 15px 8px 10px;
	border-radius: 5px;
	color: var(--primary-color);
}
.nav_toggle:checked ~ .nav_item_head h5::after{
	transform: rotate(45deg);
	top: 3px;
	right: 0;
}
.nav_head_title{
	font-size: 16px;
	font-weight: bold;
}

/* --------------- */
.mavro_doc{
	display: flex;
}
.docs_wraper{
	background-image: url('../images/pattern.svg');
	background-position: center;
	width: 100%;
    height: 100vh;
    overflow-y: scroll;
	scroll-behavior: smooth;
}
.menu_toggle{
	background-color: gray;
	justify-content: space-between;
	padding: 30px;
	display: none;

}
.docs_wraper section{    
	padding: 36px 40px;
    background-color: #efefef;
    margin-bottom: 40px;
    box-shadow: 1px 1px 30px #c3c3c363;
    border: 1px solid #e3e3e3;
}
.welcome_doc h1{
	margin: 15px 0;
}
.docs_info {
    padding: 48px;
}
.docs_info section p{
	font-size: 16px;
}
.docs_info section h2{
	border-bottom: 1px solid #80808066;
	padding-bottom: 10px;
}
.docs_info section ul li{
	padding: 16px 0;
	font-size: 16px;
	border-bottom: 1px solid #8080802a;
}
.docs_info section ul li:last-child{
	border-bottom: 0px solid #8080802a;
}
.docs_info section li h3{
	margin-bottom: 14px;
}
.overlay{
	position: fixed;
    top: 0px;
    left: 0px;
	width: 0;
	height: 100%;
	background-color: #1d1b1986;
	transition: .4s;
	z-index: 10;
	opacity: 0;
}
/* -------- responsive css --------- */
@media screen and (max-width: 768px) {
	.mavro_doc{
		display: block;
	}
	.docs_info {
		padding: 30px;
        padding-top: 120px;
	}
	.menu_toggle{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
		justify-content: center;
	}
	.mavro_sidebar,#toggle_btn{
		position: fixed;
		top: 0;
		left: -100%;
	}
	#toggle_btn{
        left: 20px;
        top: 25px;
		border: 1px solid gray;
		padding: 10px 20px;
		border-radius: 5px;
    	box-shadow: 1px 1px 6px #4747473b;
	}
	.mavro_sidebar.active{
		left: 0;
		z-index: 10;
		transition: .3s;
	}
	.overlay.active{
		width: 100%;
		height: 100%;
		opacity: 1;
	}
	
}
